body {
  font-family: 'Arial', sans-serif;
  margin: 0;
}
/*============== Navbar items ==============*/
/*                                          */
/*==========================================*/
header {
	box-shadow: 0px 0px 10px 5px #00ACED;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background: #00ACED;
}

navbar-list>ul{
	float: right;
}

.navbar-item{
	font-size: 28px;
	float: left;
}

.navbar-right{
	float: right;
}
.navbar-item a{
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 14px 16px;
}

.navbar-right a:hover {
  background-color: #444;
}

.header{
	font-family: 'Arial Black';
	color: #242424;
	padding: 10px 16px;
}

/*=============== Main items ===============*/
/*                                          */
/*==========================================*/

html {
	min-height: 100%;
	min-width: 675px;
	background-color: #BCE5FF;
	position: relative;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 100px 20px;
  min-height: 560px;
}

.tester {
    width: 100%;
}

.word-bank {
	margin: 80px auto 10px auto;
	border: 3px solid #00ACED;
	background-color: #EDF8FF;
	box-shadow: 0px 0px 30px #00ACED;
	height: 100px;
	width: 80%;
}

.word-bank  span {
    display: inline-block;
	margin: 5px;
	padding: 5px;
	font-size: 30px;
}

.first {
	border-radius: 10px;
	background-color: #BAD4FF;
}

input {
	margin-left: 30%;
	height: 30px;
	width: 40%;
	font-size: 24px;
	border: 2px solid #00ACED;
	background-color: #EDF8FF;
	box-shadow: 0px 0px 20px #00ACED;
}

/*============== Footer items ==============*/
/*                                          */
/*==========================================*/

footer {
  background-color: #00ACED;
  color: white;
  width: 100%;
  bottom: 0px;
  position: absolute;
}

.footerText {
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-right: 25px;
  font-weight: 200;
}
